
h1{
    background-color: black;
    color: aliceblue;
}

#pre{
    background-color: blueviolet;
    color: rgb(238, 255, 0);
}

#p1{
    background-color: rgb(100, 0, 0);
}

#p2{
    background-color: chocolate;
}