@font-face{
    src: url(fonts/Handjet-Regular.ttf);
    font-family: Handjet-Regular;
}

.box{
    border: 5px solid;
    font-size: 3em;
    height: 200px;
    width: 200px;
}

#preformat{
    background-color: #343434;
    color: #ffffff;
    border-left: 4px solid hsl(120, 99%, 35%);
}

#box1{
    background-color: red;
    margin-left: auto;
}
#box2{
    background-color: green;
    margin: auto;
}
#box3{
    background-color: aqua;
    margin-right: auto;
}





#shadowtext{
    width: 800px;
    text-shadow: 4px  4px 2px;
    color: crimson;
    background-color: rgb(1, 220, 220);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    box-shadow: 5px 5px 5px;
}

#CSSBOX{
    width: 550px;
    height: 700px;
    border: 10px solid rgb(18, 87, 157);
    background-color: rgb(14, 107, 193);
    box-shadow:  3px 3px 5px;
}

#CSSTEXT{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(217, 217, 217);
    font-size: 200px;
    
}

#dsadasda{
    border: 10px black;
}






























#pre{
    background-color: rgb(50, 35, 115);
    color: crimson;
    font-size:larger
}



#font1{
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; 
    font-size: 26px;
}

#font2{
    font-family: Raleway;
    font-size: 30px;
    border-style: dashed;
}

#font3{
    font-family: Handjet-Regular;
    font-size: 28px;
}

#p1{
    color: aliceblue;
    background-color: rgb(131, 65, 8);
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    border-style: solid;
    border-width: 8px;
    border-color: crimson;
    border-radius: 12px;
}

#p2{
    font-family: Arial;
    font-size: 20px;
    border-bottom: 5px solid #6495ed;
}