#code{
    background-color: #343434;
    color: #ffffff;
    border-left: 4px solid hsl(120, 99%, 35%);
    padding-left: 10px;
    max-width: 50rem;
    
}

.content{
    padding: 2rem;
    font-size: 1.2rem;
}

p{
    text-align: justify;
    padding: 10px;
    max-width: 60ch;
}

p::selection{
    background-color: #343434;
    color: hsl(120, 99%, 35%);
}

#p1::first-letter{
    font-size: 2rem;
    font-style: italic;
    background-color: rgb(59, 170, 8);
}

#p2::first-line{
    font-style: italic;
    background-color: rgb(8, 116, 170);
}

#list1 li::before{
    content: "🍅";
}

#list1 li::after{
    content: "🍏";
}